.deepening{
  background-color: #234AAD71;
  color: white;
  width: 100%;
}
h1{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}
.container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  justify-items: center;
}
.smallbudget{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.smallbudget{
  clip-path: polygon(25% 8%, 70% 5%, 95% 55%, 69% 91%, 20% 95%, 5% 45%);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #80E9E1;
}
.smallbudget:hover{
  clip-path: polygon(25% 8%, 70% 5%, 95% 55%, 69% 91%, 20% 95%, 5% 45%);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #1d3b885e;
}
.averagebudget {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.averagebudget{
  clip-path: polygon(25% 8%, 70% 5%, 95% 55%, 69% 91%, 20% 95%, 5% 45%);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #80E9E1;
}
.averagebudget:hover{
  clip-path: polygon(25% 8%, 70% 5%, 95% 55%, 69% 91%, 20% 95%, 5% 45%);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #1d3b885e;
}

.largebudget{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.largebudget{
  clip-path: polygon(25% 8%, 70% 5%, 95% 55%, 69% 91%, 20% 95%, 5% 45%);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #80E9E1;
}
.largebudget:hover{
  clip-path: polygon(25% 8%, 70% 5%, 95% 55%, 69% 91%, 20% 95%, 5% 45%);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #1d3b885e;
}

.buttonconfirm{
  display: flex;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}