.zone{
  background-color: #E9EFFF;
  color: #0C193A;
  

}
.container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.salleDeBain{
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.cuisine {
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.garage {
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.jardin {
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.mangeroom {
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.livingroom {
  clip-path: polygon(22% 4%, 72% 0.9%, 100% 55%, 72% 95%, 17% 100%, 0% 45%);
  height: 100px;
  width: 100px;
  background-color: #47B9B0
}
.inside{
  clip-path: polygon(25% 8%, 70% 5%, 95% 55%, 69% 91%, 20% 95%, 5% 45%);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #80E9E1;
}

